<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
			   
	<http pattern="/js/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/image/**" security="none"/>
	<http pattern="/loginDummy.html*" security="none"/>
	<http pattern="/loginSuccess.html*" security="none"/>
	<http pattern="/loginFailed.html*" security="none"/>
	
	<http auto-config='true'>
		<intercept-url pattern="/index.html*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login login-page='/loginDummy.html' default-target-url='/loginSuccess.html'
					always-use-default-target='true' authentication-failure-url="/loginFailed.html"/>
	</http>
	<authentication-manager>
<!--		<authentication-provider>
			<user-service>
				<user name="zhouhk@cn.ibm.com" password="123456" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="bob" password="bobspassword" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>-->
		<authentication-provider ref="ldapAuthProvider"/>
	</authentication-manager>
	
	<!-- ldap authentication provider with custom authorities populartor to get user roles-->
	<beans:bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<beans:constructor-arg value="ldap://bluepages.ibm.com:389/o=ibm.com"/>
	</beans:bean>
	
	<beans:bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<beans:constructor-arg index="0" value="ou=bluepages"/>
		<beans:constructor-arg index="1" value="(email={0})"/>
		<beans:constructor-arg index="2" ref="contextSource"/>
	</beans:bean> 
	
	<beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<beans:constructor-arg>
			<beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
				<beans:constructor-arg ref="contextSource"/>
				<beans:property name="userSearch" ref="userSearch"/>
			</beans:bean>
		</beans:constructor-arg>
		<beans:constructor-arg>
			<beans:bean class="com.ibm.ciolab.authentication.AuthoritiesPopulator"/>
		</beans:constructor-arg>
	</beans:bean>
</beans:beans>

