<div>
    <span data-dojo-attach-point="totalNumLabel" data-dojo-i18n="true"></span>
    <span data-dojo-attach-point="totalNum"></span>
    <ul class="pageNav" data-dojo-attach-point="pageNavBar">
        <li class="first-page" data-dojo-attach-point="firstPageButton"></li>
        <li class="pre-page" data-dojo-attach-point="prePageButton"></li>
        <li class="next-page" data-dojo-attach-point="nextPageButton"></li>
        <li class="last-page" data-dojo-attach-point="lastPageButton"></li>
    </ul>
</div>
